<aside class="filters-container">
    <h2 class="filters-title">Фильтры</h2>
    <section class="filters-input-container">
        <br>
        <input class="filters-input" type="text">
        <span class="filters-input-placeholder">Название</span>    
    </section>
    <article>
        <span class="filters-language-title">Язык</span>
        <section class="language-checkbox-container">
            <section>
                <input type="checkbox" class="language-checkbox" name="language" id="checkbox-russian">
                <label for="checkbox-russian">Русский</label>    
            </section>
            <section>
                <input type="checkbox" class="language-checkbox" name="language" id="checkbox-english">
                <label for="checkbox-english">Английский</label>    
            </section>
            <section>
                <input type="checkbox" class="language-checkbox" name="language" id="checkbox-chinese">
                <label for="checkbox-chinese">Китайский</label>    
            </section>
        </section>
    </article>
</aside>
