@import ../../styling/variables

.filters-container
    width: 400px
    position: absolute
    right: 0
    top: 0
    overflow-x: hidden
    height: 100%
    background-color: #FFFFFF
    border-left: 1px solid #A5A5A5
    padding-left: 33px

.filters-title
    font-size: 24px
    font-weight: normal

.filters-input-container
    position: relative
    margin-bottom: 40px
    

.filters-input
    width: 330px
    border: 0
    font-size: 16px
    padding-bottom: 7px
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    &:focus
        outline: 0
        border-color: $blue-color
        caret-color: $blue-color 
        + .filters-input-placeholder
            @extend .filters-input-placeholder__shift

.filters-input-placeholder
    position: absolute
    left: 2px
    top: 22px
    transition: 0.2s ease all
    pointer-events: none
    opacity: 0.4

.filters-input-placeholder__shift
    top: 0px
    left: 2px
    font-size: 14px


.language-checkbox-container
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16)
    width: 330px
    padding-top: 17px

.language-checkbox
    margin: 0 13px 16px 17px
    