<aside class="filters">
    <form (ngSubmit)="onSubmit()" [formGroup]="filtersForm">
        <h2 class="filters__title">Фильтры</h2>
        <section class="filters__input-container">
            <br>
                <input formControlName="input"
                       name="filters"
                       type="text"
                       class="filters__input"
                       [ngClass]="{'filters__input_filled':isInputFilled}">
                <span class="filters__input__placeholder">Название</span>
        </section>
        <article class="filters__language" formGroupName="languages">
            <section class="filters__language__title-container">
                <span class="filters__language__title"
                      [ngClass]="{'filters__language__title_shift':languagesChosen}">
                  Язык
                </span>
                <span class="filters__language_chosen_hidden"
                      [ngClass]="{'filters__language_chosen_show':languagesChosen}">
                  Выбрано: {{languagesChosen}}
                </span>
            </section>
            <section class="language__checkbox-container">
                <section>
                    <input type="checkbox"
                           class="language__checkbox"
                           name="language"
                           id="checkbox-russian"
                           formControlName="Russian">
                    <label for="checkbox-russian">Русский</label>
                </section>
                <section>
                    <input type="checkbox"
                           class="language__checkbox"
                           name="language"
                           id="checkbox-english"
                           formControlName="English">
                    <label for="checkbox-english">Английский</label>
                </section>
                <section>
                    <input type="checkbox"
                           class="language__checkbox"
                           name="language"
                           id="checkbox-chinese"
                           formControlName="Chinese">
                    <label for="checkbox-chinese">Китайский</label>
                </section>
            </section>
        </article>
        <article>
            <span class="filters__currency__title">Валюта</span>
            <section>
                <section class="filters__currency__container">
                    <input class="currency__radio"
                           type="radio"
                           id="none-radio"
                           name="currency"
                           value=""
                           formControlName="currency"
                           checked>
                    <label class="currency__radio-label" for="none-radio">
                      None
                    </label>
                </section>
                <section>
                    <input class="currency__radio"
                           type="radio"
                           id="usd-radio"
                           name="currency"
                           value="USD"
                           formControlName="currency">
                    <label class="currency__radio-label" for="usd-radio">
                      USD
                    </label>
                </section>
                <section>
                    <input class="currency__radio"
                           type="radio" id="eur-radio"
                           name="currency"
                           value="EUR"
                           formControlName="currency">
                    <label class="currency__radio-label" for="eur-radio">
                      EUR
                    </label>
                </section>
                <section>
                    <input class="currency__radio"
                           type="radio" id="rub-radio"
                           name="currency" value="RUB" formControlName="currency">
                    <label class="currency__radio-label" for="rub-radio">
                      RUB
                    </label>
                </section>
                <section>
                    <input class="currency__radio"
                           type="radio" id="cny-radio"
                           name="currency"
                           value="CNY"
                           formControlName="currency">
                    <label class="currency__radio-label" for="cny-radio">
                      CNY
                    </label>
                </section>
            </section>
        </article>
    </form>
</aside>
